<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<div class="row">
  <div class="small-4 columns">
    <%= link_to 'SIGN UP',new_user_registration_path, class: 'button expand' %> 
  </div>
  <div class="small-4 columns">
     <%= link_to 'POST JOBS', new_job_path, class: 'button expand' %>
  </div>
  <div class="small-4 columns">
     <%= link_to 'POST HOUSINGS', new_housing_path, class: 'button expand' %>
  </div>
</div>



