body {
  background-image:url(http://1.bp.blogspot.com/-74r1vULAcCE/UD8UlyTU5yI/AAAAAAAAAUI/q5p4Jwf9y3I/s1600/Top%2012%20Cool%20Windows%208%20HD%20wallpapers%20for%20desktop%20backgrounds.jpg);
}
  
.name h1 a {
  font-family: 'Keania One', cursive;
}
.top-bar {
  background: black;
   top:0px;
}

.button {
  background-color:black;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  border:2px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Keania One', cursive;
  font-size:28px;
  padding:32px 76px;
  text-decoration:none;
  text-shadow:3px 5px 3px #2f6627;
 
}
.button:hover {
  background-color:#5cbf2a;
}
.button:active {
  position:relative;
  top:0px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
     background-color: black;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  border:5px solid  #001A00;
  display:inline-block;
  cursor:pointer;
  color:#001A00;
  font-family:'Keania One', cursive;
  font-size:20px;
  padding:32px 76px;
  text-decoration:none;
  text-shadow:3px 5px 3px #000A00;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: black; 
  position:relative;
  top:0px;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background-color:#5cbf2a;
}
.sign-up-button {
    background-color:black;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  border:2px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Keania One', cursive;
  font-size:28px;
  padding:10px 32px;
  text-decoration:none;
  text-shadow:3px 5px 3px #2f6627;
}
.sign-up-button:hover {
  background-color:#5cbf2a;
}
label {
  font-size: 0.875rem;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */
}
ul, menu, dir {
    font-size: 2rem;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0; 
}

